google-api-core==1.22.1
google-api-python-client==1.8.4
google-cloud-pubsub==1.7.0
google-cloud-storage
google-cloud-bigquery
redis
pymongo
kafka-python
mysql-connector-python
elasticsearch-dsl
pandas
pandas-gbq
cx_Oracle
SQLAlchemy
mysqlclient
dicttoxml
xmltodict
apache-beam[gcp]
